body {
	background-image: url(../images/interface/background.png);
	margin: 0px;
	padding: 0px;
}
.wrapper {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.content {
	background-color: #FFF;
	padding: 15px;
	margin-top: 15px;
}
